{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}YouTube transcribe{% endblock %}</title>
    {% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'transcribe_app/style.css' %}">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script src="{% static 'transcribe_app/jquery-3.6.4.min.js' %}"></script>
    {% endblock %}
</head>
<nav>
    <div class="nav-box">
    <a href="{% url 'transcribe' %}">К котикам</a>
    </div>
</nav>
<body>
<main>
    <section>
    {% block content %}
        <div class="form-box">
            <div class="form-value">
                <form method="POST" action="{% url 'try_request' %}">
                    {% csrf_token %}
                    <div class="inputbox">
                        <ion-icon name="logo-youtube"></ion-icon>
                        <input type="text" name="user_url" required>
                        <label for="video_url">Введите url видео или плейлиста с YouTube:</label>
                    </div>
                </form>
                {% if db_transcribes %}
                <div class="v-form">
                    <strong>Или выберите одно из базы данных:</strong>
                        <div class="scroll-menu">
                            {% for db_transcribe in db_transcribes %}
                                <form method="POST" action="{% url 'load_from_db' %}">
                                {% csrf_token %}
                                <button type="submit">
                                    {{ db_transcribe.video_title|truncatechars:50 }}
                                </button>
                                <input type="hidden" name="video_id" value="{{ db_transcribe.video_id }}">
                                </form>
                            {% endfor %}
                        </div>
                </div>
                {% endif %}
            </div>
        {% if errors %}
            <div class="errors">
                {% for error in errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        </div>

    {% endblock %}
    </section>
</main>
{% block script %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}
</body>
</html>